<style>
    .row {
        margin-top: 25px;
    }

    .card {
        transition: all 0.5s;

    }

    .col-sm-5 {
        padding: 1%;
    }

    .card-body {
        background-color: #f8f8f8;
        color: black;
    }

    .card:hover {
        transform: scale(1.1);
    }
</style>
<div class="row justify-content-center">
    <div class="col-sm-5">
        <div class="card text-white bg-secondary mb-3">
            <img class="card-img-top" height="250" width="270"
                src="https://lh3.googleusercontent.com/proxy/2zdvPR5qtf6FueMrNhZ0fJwshEH1L5ChL2CzsU1AREbwGZ_JSfHJYy6RlnVYVyWRK_8zB35G19nmAsfULnkEMumr0LhmnyiPY61c0MM53itcg0Z-8KJvPqs6hSMlOYKiv0SIByubhaHmrhQ"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">M-E-A-N</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam assumenda,
                    voluptates quos rerum porro eum nam blanditiis placeat quam ea hic commodi quae, quisquam sequi vel
                    laudantium ex suscipit vitae.</p>
                <p class="card-text"><small class="">Last updated 3 mins ago</small></p>
                <div class="d-flex     justify-content-center">
                    <button class=" btn  btn-info">
                        Read more
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-5">
        <div class="card text-white bg-secondary mb-3">
            <img class="card-img-top" height="250"
                src="https://getbootstrap.com/docs/5.0/assets/img/bootstrap-icons.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Boostrap</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam assumenda,
                    voluptates quos rerum porro eum nam blanditiis placeat quam ea hic commodi quae, quisquam sequi vel
                    laudantium ex suscipit vitae.</p>
                <p class="card-text"><small class="">Last updated 3 mins ago</small></p>
                <div class="d-flex     justify-content-center">
                    <button class=" btn  btn-info">
                        Read more
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card text-white bg-secondary mb-3">
            <img class="card-img-top" height="270"
                src="https://img.freepik.com/vector-gratis/banner-conceptos-palabra-front-end-programacion-aplicaciones-web_106317-84.jpg?size=626&ext=jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Front End</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam assumenda,
                    voluptates quos rerum porro eum nam blanditiis placeat quam ea hic commodi quae, quisquam sequi vel
                    laudantium ex suscipit vitae.</p>
                <p class="card-text"><small class="">Last updated 3 mins ago</small></p>
                <div class="d-flex     justify-content-center">
                    <button class=" btn  btn-info">
                        Read more
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5 ">
        <div class="card text-white bg-secondary mb-3">
            <img class="card-img-top" height="270" src="https://www.hostname.cl/uploads/2020/11/BD.png"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Base de Datos</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam assumenda,
                    voluptates quos rerum porro eum nam blanditiis placeat quam ea hic commodi quae, quisquam sequi vel
                    laudantium ex suscipit vitae.</p>
                <p class="card-text"><small class="">Last updated 3 mins ago</small></p>
                <div class="d-flex     justify-content-center">
                    <button class=" btn  btn-info">
                        Read more
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>