<style>
    * {
        font-family: Open-Sans, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        letter-spacing: 1.2px;
        text-shadow: 0em 0em 0.95em #ffffff;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="https://image.flaticon.com/icons/png/512/1005/1005141.png" width="30" height="30"
            class="d-inline-block align-top" alt="">
        DBAcces
    </a>
    <div class="container">
        <a class="navbar-brand" href="#">App Courses</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['home']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['home/courses']">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['home/list']">Instructores</a>
                </li>
                <li class=" nav-item">
                    <a class="nav-link" [routerLink]="['home/add']">Agregar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>